---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import PageHeader from '@components/PageHeader.astro'
//import Icon from 'astro-icon/components'
---

<DefaultLayout title="Documents">
  <PageHeader title="Documents" subtitle="Take a look through the archives." />
  <section class="container mb-16">
    
  </section>
</DefaultLayout>