---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import PageHeader from '@components/PageHeader.astro'
---

<DefaultLayout title="News">
  <PageHeader title="News" subtitle="Updates from CCC's director." />
  <section class="container mb-16">
    
  </section>
</DefaultLayout>