---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import PageHeader from '@components/PageHeader.astro'

import Feat from '@assets/news-feat.jpg'
---

<DefaultLayout title="News">
  <PageHeader title="News" subtitle="Updates from CCC's director." featuredImage={Feat} />
  <section class="container mb-16">
    
  </section>
</DefaultLayout>