---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import PageHeader from '@components/PageHeader.astro'
---

<DefaultLayout title="Values">
  <PageHeader title="Values" subtitle="Who we are, and what we believe in." bgType="neutral" />
  <section class="container my-16">
    
  </section>
</DefaultLayout>