---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import PageHeader from '@components/PageHeader.astro'
---

<DefaultLayout title="Services">
  <PageHeader title="Services" subtitle="Here's how we can help." />
  <section class="container mb-16">
    
  </section>
</DefaultLayout>