/* 
   We use a custom pair of vars (--tw-light, --tw-dark) instead of the lightdark()
   function for browser compatibility - Tailwind CSS only supports lightdark() on
   browsers from 2024 or newer.

   See: https://stackoverflow.com/a/79739830
 */

/* Global CSS variables - these won't be accessible via Tailwind CSS classes. */
:root {
  /* CCC's brand colors - our palette will be produced from these. */
  --brand-primary:   #D4AF36;
  --brand-secondary: #4F688F;
  --brand-neutral:   #32425B;
}

@layer theme {
  /* default text and background colors */
  html {
    color: var(--color-foreground);
    text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
    background-color: var(--color-background);
  }

  /* default border and outline colors */
  * {
    border-color: var(--color-border);
    outline-color: --alpha(var(--color-outline) / 50%);
  }

  /* custom box shadows
   *
   * use like this:
   *   shadow-(--elevation-card)
   */
  :root {
    --elevation-card: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

/* Tailwind theme variables - you'll be able to use these via classes.
 * see: https://tailwindcss.com/docs/theme
 *
 * For example, if I have a color variable named "--color-special-100",
 * I can use the color name (everything after --color-) in tailwind's
 * built-in utilities that take a color:
 *    bg-special
 *    text-special
 *    ... etc.
 */
@theme inline {
  
  /* Color palette - variations of the three brand colors. */
  --color-primary-100: oklch(from var(--brand-primary) 90% c h);
  --color-primary-200: oklch(from var(--brand-primary) 80% c h);
  --color-primary-300: oklch(from var(--brand-primary) 70% c h);
  --color-primary-400: oklch(from var(--brand-primary) 60% c h);
  --color-primary-500: oklch(from var(--brand-primary) 50% c h);

  --color-secondary-100: oklch(from var(--brand-secondary) 90% c h);
  --color-secondary-200: oklch(from var(--brand-secondary) 80% c h);
  --color-secondary-300: oklch(from var(--brand-secondary) 70% c h);
  --color-secondary-400: oklch(from var(--brand-secondary) 60% c h);
  --color-secondary-500: oklch(from var(--brand-secondary) 50% c h);

  --color-neutral-50:  white;
  --color-neutral-100: oklch(from var(--brand-neutral) 97.5% c h);
  --color-neutral-200: oklch(from var(--brand-neutral) 95% c h);
  --color-neutral-300: oklch(from var(--brand-neutral) 90% c h);
  --color-neutral-400: oklch(from var(--brand-neutral) 85% c h);
  --color-neutral-500: oklch(from var(--brand-neutral) 80% c h);
  --color-neutral-600: oklch(from var(--brand-neutral) 60% c h);
  --color-neutral-700: oklch(from var(--brand-neutral) 40% c h);
  --color-neutral-800: oklch(from var(--brand-neutral) 30% c h);
  --color-neutral-850: oklch(from var(--brand-neutral) 22% c h);
  --color-neutral-900: oklch(from var(--brand-neutral) 15% c h);
  --color-neutral-950: oklch(from var(--brand-neutral) 10% c h);

  /* Starwind UI color settings (for both light and dark modes). */
  --color-background:
    var(--tw-light, var(--color-neutral-50))
    var(--tw-dark,  var(--color-neutral-900));
  --color-foreground:
    var(--tw-light, var(--color-neutral-800))
    var(--tw-dark,  var(--color-neutral-50));
  --color-card: /* background */
    var(--tw-light, var(--color-white))
    var(--tw-dark,  var(--color-neutral-900));
  --color-card-foreground:
    var(--tw-light, var(--color-neutral-950))
    var(--tw-dark,  var(--color-neutral-50));
  --color-popover: /* background */
    var(--tw-light, var(--color-white))
    var(--tw-dark,  var(--color-neutral-800));
  --color-popover-foreground: 
    var(--tw-light, var(--color-neutral-950))
    var(--tw-dark,  var(--color-neutral-50));
  --color-primary: /* background*/
    var(--tw-light, var(--color-primary-100))
    var(--tw-dark,  var(--color-primary-500));
  --color-primary-foreground:
    var(--tw-light, var(--color-neutral-900))
    var(--tw-dark,  var(--color-neutral-100));
  --color-primary-accent:
    var(--tw-light, var(--color-primary-500))
    var(--tw-dark,  var(--color-primary-100));
  --color-secondary: /* background*/
    var(--tw-light, var(--color-secondary-100))
    var(--tw-dark, var(--color-secondary-500));
  --color-secondary-foreground:
    var(--tw-light, hsl(214.3, 30.4%, 4.5%))
    var(--tw-dark,  hsl(0 0% 100%));
  --color-secondary-accent:
    var(--tw-light, var(--color-secondary-500))
    var(--tw-dark,  var(--color-secondary-100));
  --color-muted:
    var(--tw-light, var(--color-neutral-300))
    var(--tw-dark,  var(--color-neutral-800));
  --color-muted-foreground: 
    var(--tw-light, var(--color-neutral-600))
    var(--tw-dark,  var(--color-neutral-400));
  --color-accent:
    var(--tw-light, var(--color-neutral-100))
    var(--tw-dark,  var(--color-neutral-700));
  --color-accent-foreground:
    var(--tw-light, var(--color-neutral-900))
    var(--tw-dark,  var(--color-neutral-100));
  --color-info:
                    var(--color-sky-300);
  --color-info-foreground:
                    var(--color-sky-950);
  --color-success:
                    var(--color-green-300);
  --color-success-foreground:
                    var(--color-green-950);
  --color-warning:
                    var(--color-amber-300);
  --color-warning-foreground:
                    var(--color-amber-950);
  --color-error:
    var(--tw-light, var(--color-red-700))
    var(--tw-dark,  var(--color-red-800));
  --color-error-foreground:
                    var(--color-neutral-50);
  --color-border:
    var(--tw-light, var(--color-neutral-600))
    var(--tw-dark,  --alpha(var(--color-neutral-50) / 20%));
  --color-input:
    var(--tw-light, var(--color-neutral-200))
    var(--tw-dark,  --alpha(var(--color-neutral-50) / 25%));
  --color-outline:
    var(--tw-light, var(--color-neutral-400))
    var(--tw-dark,  var(--color-neutral-500));

  --color-sidebar:
    var(--tw-light, var(--color-neutral-50))
    var(--tw-dark,  var(--color-neutral-900));
  --color-sidebar-foreground:
    var(--tw-light, var(--color-neutral-950))
    var(--tw-dark,  var(--color-neutral-50));
  --color-sidebar-primary:
                    var(--color-blue-700);
  --color-sidebar-primary-foreground:
                    var(--color-neutral-50);
  --color-sidebar-accent:
    var(--tw-light, var(--color-neutral-100))
    var(--tw-dark,  var(--color-neutral-800));
  --color-sidebar-accent-foreground:
    var(--tw-light, var(--color-neutral-900))
    var(--tw-dark,  var(--color-neutral-100));
  --color-sidebar-border:
    var(--tw-light, var(--color-neutral-200))
    var(--tw-dark,  var(--color-neutral-800));
  --color-sidebar-outline:
    var(--tw-light, var(--color-neutral-400))
    var(--tw-dark,  var(--color-neutral-600));


  /* Color settings for our own components. */
  --color-banner:
    var(--tw-light, var(--color-neutral-800))
    var(--tw-dark,  var(--color-neutral-850));
  
  --color-theme-icon:
    var(--tw-light, var(--color-neutral-800))
    var(--tw-dark,  var(--color-neutral-100));
  --color-theme-link:
    var(--tw-light, var(--color-primary-500))
    var(--tw-dark,  var(--color-primary-100));
  --color-theme-link-hover:
    var(--tw-light, var(--color-primary-400))
    var(--tw-dark,  var(--color-primary-200));
  --color-theme-border:
    var(--tw-light, var(--color-neutral-900))
    var(--tw-dark,  var(--color-neutral-100));
  --color-theme-subtle:
    var(--tw-light, var(--color-neutral-300))
    var(--tw-dark,  var(--color-neutral-800));
  --color-theme-grad1:
    var(--tw-light, var(--color-neutral-700))
    var(--tw-dark,  var(--color-secondary-100));
  --color-theme-grad2:
    var(--tw-light, var(--color-primary-300))
    var(--tw-dark,  var(--color-primary-200));
  --color-theme-grad3:
    var(--tw-light, var(--color-primary-100))
    var(--tw-dark,  var(--color-secondary-100));
  --color-theme-grad4:
    var(--tw-light, var(--color-secondary-100))
    var(--tw-dark,  var(--color-primary-200));
  
  --color-bw:
    var(--tw-light, var(--color-black))
    var(--tw-dark,  var(--color-white));
  --color-wb:
    var(--tw-light, var(--color-white))
    var(--tw-dark,  var(--color-black));
}