@import "tailwindcss" source("../");
@import "./colors.css";
@import "./typography.css";

@custom-variant dark (&:where(.darkmode, .darkmode *));

/* Global CSS variables - these won't be accessible via Tailwind CSS classes. */
:root {
  /*
    Enable animations/transitions that change the width/height of a container.
    We use this for menu animations.
    Note: this is experimental as of 2026, may not be supported on all browsers.
  */
  interpolate-size: allow-keywords;

  /*
    This is what changes the color scheme from light to dark when
    DarkMode.astro adds the "darkmode" class to the root HTML element
    of the page.

    See: node_modules/accessible-astro-components/src/components/darkmode/DarkMode.astro
    See: https://stackoverflow.com/a/79739830
  */
  color-scheme: light;
  --tw-light: initial;
  --tw-dark: ;
  @variant dark {
    color-scheme: dark;
    --tw-light: ;
    --tw-dark: initial;
  }
}

@layer base {
  html {
    /*
      Reserve space for scrollbar. This prevents distracting layout shifts when moving
      between pages with/without scrollbars.
    */
    scrollbar-gutter: stable;

    /*
      Use animated scrolls when clicking in-page links, instead of sudden jumps.
    */
    scroll-behavior: smooth;
  }

  /*
    Keyboard focus indicator - a dashed outline box.
    Have to force this for the DarkMode component, it's
    annoyingly opinionated on style. 
   */
  *:focus-visible {
    outline: 2px dashed var(--color-bw);
    box-shadow: none;
  }
  .darkmode-toggle:focus-visible {
    outline: 2px dashed var(--color-bw) !important;
    box-shadow: none !important;
  }
}
