/* Helpful when choosing how to handle fonts:
 * 
 * https://blog.sentry.io/web-fonts-and-the-dreaded-cumulative-layout-shift
 *
 * Can get FullName and Postscript Name here (needed for local() in font-face):
 * https://fontdrop.info/
 *
 */

@layer base {
  :root {
    /* Support for system-native emojis (added to end of each font stack below). */
    --add-emojis:
      "Apple Color Emoji",
      "Segoe UI Emoji",
      "Segoe UI Symbol",
      "Noto Color Emoji";
  }
}


@theme inline {
  /* Our self-hosted hyperlegible web font (see font-face decl's below).
   * 
   * Note: font-sans is the default font in Tailwind (set by Preflight).
   */
  --font-sans:
    'Atkinson Hyperlegible Next',
    'Fallback - Atkinson Hyperlegible Next',
    system-ui,
    sans-serif,
    var(--add-emojis);

  /* The font stacks below are native - they rely on fonts that come preloaded in
   * modern browsers, so they don't require downloading additional font files.
   *
   * See: https://modernfontstacks.com/
   */

  /* Native font: handwritten look */
  --font-hand:
    'Segoe Print',
    'Bradley Hand',
    Chilanka,
    TSCu_Comic,
    casual,
    cursive,
    var(--add-emojis);

  /* Override default Tailwind font sizes with a sliding scale from utopia.fyi.
   *
   * This is based around a font that varies from 16pt @ 360px screen width, to
   * 18pt @ 1200px screen width.
   *
   * Note that Tailwind's default font size and weight (set by Preflight) is:
   *  size: --text-base
   *  weight: --font-normal (400)
   *
   * These utilities can be used as normal: text-lg, text-base, etc.
   *
   * @link https://utopia.fyi/type/calculator?c=360,16,1.2,1200,18,1.25,10,2,&s=0.75,1.5|2|3|4|6,s-l&g=s,l,xl,12
   */
  --text-xs:   clamp(0.6944rem, 0.6835rem + 0.0487vw, 0.72rem);
  --text-sm:   clamp(0.8333rem, 0.8048rem + 0.127vw, 0.9rem);
  --text-base: clamp(1rem, 0.9464rem + 0.2381vw, 1.125rem);
  --text-md:   clamp(1.1rem, 1.029rem + 0.3155vw, 1.2657rem);
  --text-lg:   clamp(1.2rem, 1.1116rem + 0.3929vw, 1.4063rem);
  --text-xl:   clamp(1.44rem, 1.3038rem + 0.6054vw, 1.7578rem);
  --text-2xl:  clamp(1.728rem, 1.5269rem + 0.8938vw, 2.1973rem);
  --text-3xl:  clamp(2.0736rem, 1.7852rem + 1.2819vw, 2.7466rem);
  --text-4xl:  clamp(2.4883rem, 2.0834rem + 1.7998vw, 3.4332rem);
  --text-5xl:  clamp(2.986rem, 2.4265rem + 2.4868vw, 4.2915rem);
  --text-6xl:  clamp(3.5832rem, 2.8198rem + 3.3928vw, 5.3644rem);
  --text-7xl:  clamp(4.2998rem, 3.2688rem + 4.5823vw, 6.7055rem);
  --text-8xl:  clamp(5.1598rem, 3.7789rem + 6.1374vw, 8.3819rem);
  --text-9xl:  clamp(6.1917rem, 4.355rem + 8.1631vw, 10.4774rem);

  /* Relative spacing scale from utopia.fyi (adapts to viewport width).
   *
   * Note that these vars do not replace the default number system used by Tailwind
   * utilities for spacing, those remain fixed because they can't be customized
   * to do a full adaptive scale.
   * 
   * For example, "py-8" means:
   *    padding, y-dir, 8 * (--spacing)
   *
   * ...where "--spacing" defaults to 0.25 rem. The scale is always linear and fixed,
   * you can only change the multiplier by setting --spacing to something else.
   *
   * Instead, to use this sliding scale, this creates named spacing variants
   * (md, 2xs, etc) instead of numbers. You use these in the same places you
   * would usually use the numbers, like padding, margin, or width classes.
   *
   * For example, you'd use "py-md" to create vertical padding that varies
   * from "py-6.75" to "py-7.5" as the viewport gets wider.
   *
   * @link https://utopia.fyi/space/calculator?c=360,18,1.2,1200,20,1.25,10,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,&g=s,l,xl,12
   */
  /* Space 3xs: 1.25 → 1.25 */
  --spacing-3xs: clamp(0.3125rem, 0.3125rem + 0vw, 0.3125rem);
  /* Space 2xs: 2.25 → 2.5 */
  --spacing-2xs: clamp(0.5625rem, 0.5357rem + 0.119vw, 0.625rem);
  /* Space xs: 3.5 → 3.75 */
  --spacing-xs: clamp(0.875rem, 0.8482rem + 0.119vw, 0.9375rem);
  /* Space sm: 4.5 → 5 */
  --spacing-sm: clamp(1.125rem, 1.0714rem + 0.2381vw, 1.25rem);
  /* Space md: 6.75 → 7.5 */
  --spacing-md: clamp(1.6875rem, 1.6071rem + 0.3571vw, 1.875rem);
  /* Space lg: 9 → 10 */
  --spacing-lg: clamp(2.25rem, 2.1429rem + 0.4762vw, 2.5rem);
  /* Space xl: 13.5 → 15 */
  --spacing-xl: clamp(3.375rem, 3.2143rem + 0.7143vw, 3.75rem);
  /* Space 2xl: 18 → 20 */
  --spacing-2xl: clamp(4.5rem, 4.2857rem + 0.9524vw, 5rem);
  /* Space 3xl: 27 → 30 */
  --spacing-3xl: clamp(6.75rem, 6.4286rem + 1.4286vw, 7.5rem);

  /* One-up pairs */
  /* Space 3xs-2xs: 1.25 → 2.5 */
  --spacing-3xs-2xs: clamp(0.3125rem, 0.1786rem + 0.5952vw, 0.625rem);
  /* Space 2xs-xs: 2.25 → 3.75 */
  --spacing-2xs-xs: clamp(0.5625rem, 0.4018rem + 0.7143vw, 0.9375rem);
  /* Space xs-sm: 3.5 → 5 */
  --spacing-xs-sm: clamp(0.875rem, 0.7143rem + 0.7143vw, 1.25rem);
  /* Space sm-md: 4.5 → 7.5 */
  --spacing-sm-md: clamp(1.125rem, 0.8036rem + 1.4286vw, 1.875rem);
  /* Space md-lg: 6.75 → 10 */
  --spacing-md-lg: clamp(1.6875rem, 1.3393rem + 1.5476vw, 2.5rem);
  /* Space lg-xl: 9 → 15 */
  --spacing-lg-xl: clamp(2.25rem, 1.6071rem + 2.8571vw, 3.75rem);
  /* Space xl-2xl: 13.5 → 20 */
  --spacing-xl-2xl: clamp(3.375rem, 2.6786rem + 3.0952vw, 5rem);
  /* Space 2xl-3xl: 18 → 30 */
  --spacing-2xl-3xl: clamp(4.5rem, 3.2143rem + 5.7143vw, 7.5rem);

  /* Text sizes, line heights and weights for headers.
   *
   * These are handy because accessibility guidelines require a strict hierarchy
   * when using header tags - you can't skip over numbers, even if you really
   * want a smaller size for the sub-header than the default.
   *
   * These classes let you specify the header size separately from the logical
   * tag name:
   *
   *  <h1>A Header with Default Size</h1>
   *     <h2 class="text-h3">A Header with Smaller Size</h2>
   *     <h2 class="text-h1">A Header with Bigger Size </h2>
   */
  --text-h1:              var(--text-4xl);
  --text-h1--line-height: var(--text-5xl);
  --text-h1--font-weight: 600;

  --text-h2:              var(--text-3xl);
  --text-h2--line-height: var(--text-4xl);
  --text-h2--font-weight: 600;

  --text-h3:              var(--text-2xl);
  --text-h3--line-height: var(--text-3xl);
  --text-h3--font-weight: 500;
  
  --text-h4:              var(--text-xl);
  --text-h4--line-height: var(--text-2xl);
  --text-h4--font-weight: 500;

  --text-h5:              var(--text-lg);
  --text-h5--line-height: var(--text-xl);
  --text-h5--font-weight: 500;

  --text-h6:              var(--text-md);
  --text-h6--line-height: var(--text-lg);
  --text-h6--font-weight: 500;
}


@layer base {
  /* Global font settings. */
  html {
    font-synthesis: none;
  }

  /* Settings to render unnumbered lists for prose (default styling removed by Preflight). */
  ul.text {
    list-style-type: disc;
    /* Aligns bullet with text, prevents them from being cut off */
    padding-inline-start: 1.5em; 
    /* Maintains vertical rhythm with paragraphs */
    margin-block-start: 0.5em;
    margin-block-end: 0em;
  }

  ul.text > li {
    /* Improves readability between items */
    line-height: 1.5; 
    /* Space between list items */
    margin-block-end: 0.5em;
    /* Remove spacing from last item */
    &:last-child {
      margin-block-end: 0em;
    }
  }

  /* Set margin between paragraphs. */
  p + p, ul + p {
    margin-block-start: 1.5em;
  }
  h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p {
    margin-block-start: 1.8em;
  }

  p.inset {
    margin-block-start: 0.6em;
    margin-inline-start: 0.6em;
    padding-inline-start: 0.6em;
    border-left-style: solid;
    border-left-width: 0.25em;
    border-left-color: var(--color-secondary);
  }

  /* Default text wrap settings for headers and paragraphs. */
  p {
    text-wrap: pretty;
  }
  h1,h2,h3,h4,h5,h6 {
    text-wrap: balance;
  }

  /* Default header font settings. */
  h1 {
    @apply text-h1;
  }
  h2 {
    @apply text-h2;
  }
  h3 {
    @apply text-h3;
  }
  h4 {
    @apply text-h4;
  }
  h5 {
    @apply text-h5;
  }
  h6 {
    @apply text-h6;
  }
}


/* Atkinson Hyperlegible Next
 * 
 * See: https://fonts.google.com/specimen/Atkinson+Hyperlegible+Next
 *
 * This uses the variable version of the font, which saves quite a bit on
 * download size. It also needs a lot less code.
 *
 * Static fonts: 98 kB (regular, medium, semi-bold, bold)
 * Variable font: 47 kB
 */
@font-face {
  font-family: "Atkinson Hyperlegible Next";
  font-style: normal;
  src:
    local(AtkinsonHyperlegibleNext-Regular),
    local(Atkinson Hyperlegible Next Regular),
    url("/fonts/AtkinsonHyperlegibleNext-VariableFont_wght.woff2") format("woff2-variations");
  font-weight: 200 800;
  font-display: swap;
}

/* We don't currently need the Italic versions of this font, but leave it in here
 * as a comment in case we that changes in the future.
 */
/*
@font-face {
  font-family: "Atkinson Hyperlegible Next";
  font-style: italic;
  src:
    local(AtkinsonHyperlegibleNext-Italic),
    local(Atkinson Hyperlegible Next Italic),
    url("/fonts/AtkinsonHyperlegibleNext-Italic-VariableFont_wght.woff2") format("woff2-variations");
  font-weight: 200 800;
  font-display: swap;
}
*/

/* Fallback font - helps prevent layout shifts during font loading.
 *
 * Used the tool below to figure out the adjustments needed to get the fallback
 * font to render as close to the same size as the real font as possible:
 *
 * https://screenspan.net/fallback
 */
@font-face {
    font-family: 'Fallback - Atkinson Hyperlegible Next';
    src: local(Arial);
    size-adjust: 99%;
    ascent-override: 87%;
    descent-override: normal;
    line-gap-override: normal;
}
