---
import type { HTMLAttributes } from "astro/types";
import { tv } from "tailwind-variants";

type Props = HTMLAttributes<"div">;

const { class: className, ...rest } = Astro.props;

export const sheetHeader = tv({
  base: ["flex flex-col gap-(--sp-3xs) p-(--sp-sm)"],
});
---

<div class={sheetHeader({ class: className })} data-slot="sheet-header" {...rest}>
  <slot />
</div>
