---
import DefaultLayout from '@layouts/Layout.astro'
import PageSection from '@components/PageSection.astro'
import { Heading, Link } from 'accessible-astro-components'
import { Icon } from 'astro-icon/components'
---

<DefaultLayout title="404" alwaysHide={true}>
  
  <PageSection class="my-12">
      <Heading level="h1">404</Heading>
  </PageSection>
  
  <PageSection class="my-12 space-content">
    <p class="text-2xl">This page does not exist. Don't worry though, we got you.</p>
    <Link href="/" isButton type="primary" animateOnHover animationType="nudge">
      Let's get you home, Astronaut
      <Icon aria-hidden="true" name="lucide:rocket" size="1.5rem" />
    </Link>
  </PageSection>

</DefaultLayout>
