---
import { Button } from "@/components/starwind/button";
import PageLayout from '@/layouts/PageLayout.astro'
import Rocket from '@icons/rocket.svg'
---

<PageLayout title="404" subtitle="Page Not Found" alwaysHide={true}>
  
  <p class="text-2xl mb-(--sp-sm)">
    This page does not exist. Don't worry though, we got you.
  </p>
  
  <Button href="/" variant="primary" animation="raise-boop">
    Let's get you home, Astronaut
    <Rocket aria-hidden="true" width="1.5rem" height="1.5rem" />
  </Button>

</PageLayout>
