---
import { Button } from "@/components/base";
import PageLayout from '@/layouts/PageLayout.astro'
---

<PageLayout title="404" subtitle="Page Not Found" alwaysHide={true} showHeading={false}
 class="text-lg">
  
  <h2 class="mb-lg">404 - Not Found</h2>

  <p class="mb-sm">
    This page does not exist. Don't worry though, we got you.
  </p>
  
  <Button
    label="Let's get you home, Astronaut"
    icon="tabler:rocket"
    href="/"
    variant="primary"
    animation="raise-boop"
    class="text-base"
  />

</PageLayout>
