---
import PageLayout from '@/layouts/PageLayout.astro'
import { Link, Button, Icon } from '@/components/base'
import ContactForm from '@/components/forms/ContactForm.astro'

import feat from '@/assets/contact-feat.jpg'
---

<PageLayout title="Contact" subtitle="Have a question? Get in touch with us!" featuredImage={feat}
  class="grid grid-cols-1 gap-xl md:gap-3xl md:grid-cols-2"
>
  <!-- Contact Form -->
  <section>
    <h2 class="sr-only">Contact Form</h2>
    <ContactForm />
  </section>

  <!-- Info Section -->
  <section class="space-y-md">
    <h2 class="text-h3 mb-md">Hi there, neighbor</h2>

    <p>
      Whether you're looking for furnishings, need a ramp built, or just have a question,
      we'd love to hear from you. Please make sure to give us good contact info so we can
      follow up.
    </p>
    <p>
      If you contact us outside of office hours (see below), we might not be able to get
      back to you until we've returned to our desks. Sorry!
    </p>

    <div class="gap-2xs flex items-center">
      <Icon name="tabler:phone" size="1.5em" />
      <p>
        <span class="font-bold">Phone:</span>
        <Link href="tel:+13523581768">(352) 358-1768</Link>
        <span>(voice or text)</span>
      </p>
    </div>

    <div class="gap-2xs flex items-center">
      <Icon name="tabler:mail" size="1.5em" />
      <p>
        <span class="font-bold">Email:</span>
        <Link href="mailto:office@cccgainesville.org">office@cccgainesville.org</Link>
      </p>
    </div>

    <div class="gap-2xs flex items-center">
      <Icon name="tabler:map-pin" size="1.5em" />
      <p>
        <span class="font-bold">Address:</span>
        PO Box 358173, Gainesville, FL 32653
      </p>
    </div>

    <div class="gap-2xs flex items-center">
      <Icon name="tabler:clock" size="1.5em" />
      <p>
        <span class="font-bold">Office Hours:</span>
        Tuesday - Thursday, 10:00 AM - 3:00 PM
      </p>
    </div>

    <ul class="flex flex-wrap gap-md">
      <li>
        <Button
          icon="facebook"
          href="https://facebook.com/cccgainesville"
          animation="raise-boop"
          alt="Go to our Facebook page"
        />
      </li>
      <li>
        <Button
          icon="instagram"
          href="https://instagram.com/cccmainoffice"
          animation="raise-boop"
          alt="Go to our Instagram page"
        />
      </li>
      <li>
        <Button
          label="Newsletter Signup"
          iconBefore="tabler:mail-plus"
          href="https://cccgainesville.org/ns"
          variant="secondary"
          animation="raise-boop"
        />
        </Button>
      </li>
    </ul>
  </section>
</PageLayout>
