---
import { Button } from '@/components/starwind/button'
import PageLayout from '@/layouts/PageLayout.astro'
import { Link } from '@/components/base'
import ContactForm from '@/components/forms/ContactForm.astro'

import Phone from '@icons/phone.svg'
import MapPin from '@icons/map-pin.svg'
import Mail from '@icons/mail.svg'
import Clock from '@icons/clock.svg'
import Facebook from '@icons/brand-facebook.svg'
import Instagram from '@icons/brand-instagram.svg'
import MailPlus from '@icons/mail-plus.svg'

import feat from '@/assets/contact-feat.jpg'
---

<PageLayout title="Contact" subtitle="Have a question? Get in touch with us!" featuredImage={feat}
  class="grid grid-cols-1 gap-xl md:gap-3xl md:grid-cols-2"
>
  <!-- Contact Form -->
  <section>
    <h2 class="sr-only">Contact Form</h2>
    <ContactForm />
  </section>

  <!-- Info Section -->
  <section class="space-y-md">
    <h2 class="text-h3 mb-lg">Hi there, neighbor</h2>

    <p class="text-lg">
      Whether you're looking for furnishings, need a ramp built, or just have a question,
      we'd love to hear from you. Please make sure to give us good contact info so we can
      follow up.
    </p>
    <p>
      If you contact us outside of office hours (see below), we might not be able to get
      back to you until we've returned to our desks. Sorry!
    </p>

    <div class="gap-2xs flex items-center">
      <Phone aria-hidden="true" class="shrink-0" />
      <p>
        <span class="font-bold">Phone:</span>
        <Link href="tel:+13523581768">(352) 358-1768</Link>
        <span>(voice or text)</span>
      </p>
    </div>

    <div class="gap-2xs flex items-center">
      <Mail aria-hidden="true" class="shrink-0"/>
      <p>
        <span class="font-bold">Email:</span>
        <Link href="mailto:office@cccgainesville.org">office@cccgainesville.org</Link>
      </p>
    </div>

    <div class="gap-2xs flex items-center">
      <MapPin aria-hidden="true" class="shrink-0" />
      <p>
        <span class="font-bold">Address:</span>
        PO Box 358173, Gainesville, FL 32653
      </p>
    </div>

    <div class="gap-2xs flex items-center">
      <Clock aria-hidden="true" class="shrink-0" />
      <p>
        <span class="font-bold">Office Hours:</span>
        Tuesday - Thursday, 10:00 AM - 3:00 PM
      </p>
    </div>

    <ul class="flex flex-wrap gap-2xs">
      <li>
        <Button href="https://facebook.com/cccgainesville" size="icon" animation="raise-boop">
          <Facebook aria-hidden="true" />
          <span class="sr-only">Go to our Facebook page</span>
        </Button>
      </li>
      <li>
        <Button href="https://instagram.com/cccmainoffice" size="icon" animation="raise-boop">
          <Instagram aria-hidden="true" />
          <span class="sr-only">Go to our Instagram page</span>
        </Button>
      </li>
      <li>
        <Button href="https://cccgainesville.org/ns" variant="secondary" animation="raise-boop">
          <MailPlus aria-hidden="true" />
          Newsletter Signup
        </Button>
      </li>
    </ul>
  </section>
</PageLayout>
