---
import { globSync } from 'node:fs'
import path from 'node:path';

import PageLayout from '@/layouts/PageLayout.astro'
import { Link } from '@/components/base'

import feat from '@/assets/docs-feat.jpg'

function getPdfPaths(dirname: string) {
  return globSync('./public/docs/'+dirname+'/*.pdf')
    // Sort paths in ascending alphabetical order.
    .sort()
    // Convert path to href for link in deployed site ('/docs/...')
    // and the link text (filename, without extension).
    .map(str => {
      return {
        href:  str.replace('public',''),
        title: path.basename(str, '.pdf')
      };
    })
}

const lists = [
  {
    title: "Reports",
    paths: getPdfPaths('reports').reverse(),
  },
  {
    title: "Policies",
    paths: getPdfPaths('policies'),
  },
  {
    title: "IRS Returns",
    paths: getPdfPaths('irs-returns').reverse(),
  },
];

---

<PageLayout title="Documents" subtitle="Take a look through the archives." featuredImage={feat}
  class={"grid" +
   + " grid-cols-1 gap-3xl items-start"
   + " md:grid-cols-3 md:gap-lg md:justify-items-center"}
>
  <!-- Loop over each list of files: -->
  {lists.map((dir) => (
    
    <section class="grid grid-cols-1 gap-xs items-left file-list">
      {/* Write out title of list. */}
      <h2 class="text-h3 mb-sm">{dir.title}</h2>

      {/* Loop over paths in list, write out link for each one. */}
      {dir.paths.map((doc) => (

        <Link href={doc.href} openAsNew>
          {doc.title}
        </Link>

      ))}
    </section>
  ))}
</PageLayout>