---
import PageLayout from '@/layouts/PageLayout.astro'
import GiveLively from '@/components/GiveLively.astro'
import Feat from '@/assets/give-feat.jpg'


// see middleware.ts for the "id" function.
const labelId = Astro.locals.id("give-lively-label");
---

<PageLayout title="Give" subtitle="Help us serve our community." featuredImage={Feat}
  
  class="flex flex-col gap-xl-2xl"
>
  {/* Embedded donation form & instructions */}
  <div class="flex flex-wrap gap-x-md gap-y-lg items-center">
    <div class="flex flex-col items-center">
      <h2 class="text-lg w-full text-left ps-2xs pbe-[0.5em]" id={labelId}>Choose Gift Amount</h2>
      <GiveLively labelId={labelId}
        class="rounded-sm shadow-lg border border-border"
      />
    </div>
    <div class="max-w-[50ch] basis-[40ch] px-sm">
      <p>
        Support CCC's service to our neighbors by filling out this secure form.
        You'll be able to make an immediate gift from one of the following sources:
      </p>
      <ul class="text">
        <li><span class="font-medium">Bank account</span> &nbsp;(preferred - lowest costs)</li>
        <li>Credit/debit card</li>
        <li>Paypal</li>
        <li>Venmo</li>
        <li>Donor-advised fund transfer</li>
      </ul>
    </div>
  </div>

  {/* Other ways to give */}
  <div class="max-w-[65ch] ps-2xs">
    <h2 class="text-lg">Other ways to give</h2>
    <p>
      We also accept physical checks. Make the check payable to
      <u>Christians Concerned for the Community</u>, and send it
      to the following address:
    </p>
    <p class="inset">
      Christians Concerned for the Community<br>
      P.O. Box 358173<br>
      Gainesville, FL 32635
    </p>
  </div>
</PageLayout>