---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import PageHeader from '@components/PageHeader.astro'
---

<DefaultLayout title="Give">
  <PageHeader title="Give" subtitle="Partner with us to serve our neighbors!" bgType="neutral" />
  <section class="container my-16">
    
  </section>
</DefaultLayout>