---
import PageLayout from '@/layouts/PageLayout.astro'
import GiveLively from '@/components/GiveLively.astro'
import Feat from '@/assets/give-feat.jpg'


// see middleware.ts for the "id" function.
const labelId = Astro.locals.id("give-lively-label");
---

<PageLayout title="Give" subtitle="Help us serve our community." featuredImage={Feat}>
  <div class="flex flex-wrap gap-x-lg-xl gap-y-xs justify-center items-start">
    <div class="max-w-[50ch] basis-[35ch] grow">
      <h2 id={labelId} class="mbe-[0.5em]">Online Donation</h2>
      <p>
        Support CCC by giving electronically with this secure form. You'll be
        able to use any of the following payment types for your gift:
      </p>
      <ul class="text">
        <li>Bank account - ACH (lowest fees for us)</li>
        <li>Credit/debit card</li>
        <li>Paypal</li>
        <li>Venmo</li>
        <li>Donor-advised fund transfer</li>
      </ul>
    </div>
    <GiveLively labelId={labelId} class="p-sm rounded-sm shadow-lg border border-border"/>
  </div>
</PageLayout>