---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import PageHeader from '@components/PageHeader.astro'

import Feat from '@assets/give-feat.jpg'
---

<DefaultLayout title="Give">
  <PageHeader title="Give" subtitle="Help us serve our community." featuredImage={Feat} />
  <section class="container my-24">
    
  </section>
</DefaultLayout>