---
import PageLayout from '@/layouts/PageLayout.astro'
import GiveLively from '@/components/GiveLively.astro'
import Feat from '@/assets/give-feat.jpg'


// see middleware.ts for the "id" function.
const labelId = Astro.locals.id("give-lively-label");
---

<PageLayout title="Give" subtitle="Help us serve our community." featuredImage={Feat}>
  <div class="group flex flex-wrap gap-x-lg-xl gap-y-lg justify-center has-[.base-gl-active]:items-center">
    <div class="flex flex-col items-center">
      <h2 class="text-lg w-full text-left ps-2xs pbe-[0.5em] invisible group-has-[.base-gl-active]:visible" id={labelId}>Choose Gift Amount</h2>
      <GiveLively labelId={labelId}
        class="rounded-sm group-has-[.base-gl-active]:shadow-lg border border-transparent group-has-[.base-gl-active]:border-border"
      />
    </div>
    <div class="max-w-[50ch] basis-[40ch] px-sm">
      <p>
        Support CCC's service to our neighbors by
          <span class="hidden group-has-[.base-gl-active]:inline">filling out this secure form.</span>
          <span class="group-has-[.base-gl-active]:hidden">clicking this button.</span>
        You'll be able to make an immediate gift from one of the following sources:
      </p>
      <ul class="text">
        <li><span class="font-medium">Bank account</span> &nbsp;(preferred - lowest costs)</li>
        <li>Credit/debit card</li>
        <li>Paypal</li>
        <li>Venmo</li>
        <li>Donor-advised fund transfer</li>
      </ul>
    </div>
  </div>
</PageLayout>