---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import PageHeader from '@components/PageHeader.astro'

import Feat from '@assets/services-feat.jpg'
---

<DefaultLayout title="Services">
  <PageHeader title="Services" subtitle="Here's how we can help." featuredImage={Feat}/>
  <section class="container my-24">
    
  </section>
</DefaultLayout>