---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import PageHeader from '@components/PageHeader.astro'
---

<DefaultLayout title="Volunteer">
  <PageHeader title="Volunteer" subtitle="Be a neighbor to those in need." />
  <section class="container mb-16">
    
  </section>
</DefaultLayout>