---
import Quote from '@icons/quote.svg'

interface Props {
  /**
   * The quote content that will be displayed
   */
  children: any
  /**
   * The name of the person who said the quote
   */
  author?: string
}

const { author } = Astro.props
---

<blockquote class="border-theme-fg border-l-(--sp-lg) pl-(--sp-sm) text-xl">
  <Quote aria-hidden="true" name="lucide:quote" class="inline -scale-x-100 -mt-(--sp-sm) size-(--sp-xs)" />
  
  <p class="inline">
    <slot />
  </p>
  
  <Quote aria-hidden="true" name="lucide:quote" class="inline -mt-(--space-s) size-(--sp-xs)" />
  
  {author && <cite class="block mt-(--sp-xs) text-lg font-medium not-italic">{author}</cite>}
</blockquote>
