---
import { Icon } from '@/components/base'

interface Props {
  /**
   * The quote content that will be displayed
   */
  children: any
  /**
   * The name of the person who said the quote
   */
  author?: string
}

const { author } = Astro.props
---

<blockquote class="border-theme-fg border-l-lg pl-sm text-xl">
  <Icon name="tabler:quote" class="inline -scale-x-100 -mt-sp-sm size-xs" />
  
  <p class="inline">
    <slot />
  </p>
  
  <Icon name="tabler:quote" class="inline -mt-sm size-xs" />
  
  {author && <cite class="block mt-xs text-lg font-medium not-italic">{author}</cite>}
</blockquote>
