---
/* A lightweight darkmode switch.
 *
 * Nicer than the dark mode toggle in Starwind, because it uses much less Javascript.
 * 
 * To set the size of the toggle, just pass in a height to the "class" prop.
 * The internal styling will adjust appropriately.
 */

// put the following script in the <head> of each page of your site
// this ensures it is run early to eliminate any flashes of incorrect color theme
/* 
<script is:inline>
  const initTheme = () => {
    const colorTheme = localStorage.getItem("colorTheme");
    document.documentElement.classList.toggle("dark",
      colorTheme?
        colorTheme==="dark"
        :
        window.matchMedia("(prefers-color-scheme: dark)").matches
    );
  }
  initTheme();
  document.addEventListener("astro:after-swap", initTheme);
</script>
*/

import type { HTMLAttributes } from "astro/types";
import { Icon } from "astro-icon/components";
import { twMerge } from "tailwind-merge";

type Props = Omit<HTMLAttributes<"button">, "role" | "type"> & {

};

const {
  class: className,
  ...rest
} = Astro.props;
---

<button type="button" {...rest} class={twMerge("base-darkmodetoggle",
  "@container-[size] inline-grid h-[2em] aspect-21/10 rounded-full",
  "bg-gray-400 dark:bg-muted-foreground disabled:opacity-50 **:pointer-events-none",
  className
)}>
  {/* Slider thumb */}
  <div aria-hidden="true" class:list={[
    "col-start-1 row-start-1 flex items-center justify-start",
    "mt-[10cqh] size-[80cqh] ms-[10cqh] dark:ms-[calc(100cqw-90cqh)]",
    "transition-[margin-inline-start] duration-200 ease-out",
    "rounded-full shadow-sm bg-gray-100 dark:bg-muted",
  ]}/>

  {/* Overlay icons */}
  <div aria-hidden="true"
   class="col-start-1 row-start-1 flex justify-between p-[20cqh] rounded-full">
    <slot name="icon-off">
      <Icon name="tabler:sun" size="60cqh"
       class="text-foreground dark:opacity-55 dark:text-muted-dark"/>
    </slot>
    <slot name="icon-on">
      <Icon name="tabler:moon" size="60cqh"
       class="text-background opacity-55 dark:text-foreground dark:opacity-100"/>
    </slot>
  </div>

  <slot name="label">
    <span class="sr-only">dark mode toggle</span>
  </slot>
</button>

<script>
{
  const cl = document.documentElement.classList;
  const handleClick = (e: Event) => {
    const toggle = e.target as HTMLElement;
    const enableDark = toggle.getAttribute("aria-pressed") !== "true";

    /*
      Toggle darkmode on/off throughout the site, by adding/removing a CSS class.
      (see the "dark" custom variant near the top of styles/globals.css).

      If browser supports view transitions, use it to smoothly fade to/from
      dark mode.
    */
    const doToggle = () => (cl.toggle('dark', enableDark));
    (document.startViewTransition)? document.startViewTransition(doToggle) : doToggle();

    // Persist this state in local storage for future navigation.
    localStorage.setItem("colorTheme", enableDark? "dark" : "light");

    // Update the "pressed" status of all the darkmode toggles on the page to match
    // the new state. These updates will not trigger more click events.
    const enableDarkStr = enableDark.toString();
    document.querySelectorAll(".base-darkmodetoggle").forEach((item) => {
        item.setAttribute("aria-pressed", enableDarkStr);
    });
  }

  const initDarkModeToggles = () => {
    const enableDarkStr = cl.contains("dark").toString();
    document.querySelectorAll(".base-darkmodetoggle").forEach((toggle) => {
      // Initialize checked state to match current darkmode setting.
      toggle.setAttribute("aria-pressed", enableDarkStr);
      // Add handler for when the user toggles the darkmode switch.
      toggle.addEventListener("click", handleClick);
    });
  }

  initDarkModeToggles();
  document.addEventListener("astro:after-swap", initDarkModeToggles);
}
</script>