---
import type { HTMLAttributes, ComponentProps } from "astro/types";
import {actions, getActionPath} from "astro:actions";
import { twMerge } from 'tailwind-merge';

import { Button, Icon, Spinner } from '.';
import { captchaComponent as Captcha } from './captcha.ts';

//Allow pages that use Form to connect to our own endpoints, to handle the
//form submissions.
//TODO: uncomment when Astro accepts my bugfix PR.
//Astro.csp?.insertDirective("connect-src 'self'");

type Props = HTMLAttributes<"form"> & {
  /**
   * Properties to style the submit button.
   * 
   * Be cautious about changing the button label to something other than
   * "submit". Non-sighted users may be confused by non-standard submit
   * button labels, because they don't perceive the visual cues (color and
   * placement within the form) that help sighted users understand what the
   * button really does.
   * 
   * See: https://plousia.com/blog/accessible-wording-form-submit-buttons
   * 
   * @default {label: "submit"}
   */
  submitButton?: Omit<ComponentProps<typeof Button>, "type">;

  /**
   * Name of action to send form results to for validation.
   */
  handlerAction: string,

  /**
   * Tag to use for the heading in the message box at the top of the form.
   * 
   * @default "h3"
   */
  messageHeadingTag?: "h1" | "h2" | "h3" | "h4" | "h5" | "h6" | "div",

  /**
   * Heading text for the error summary.
   * 
   * @default "Oops, let's fix these errors first:"
   */
  errorHeadingText?: string,

  /**
   * Heading text for the success message.
   * 
   * @default "Successfully submitted!"
   */
  successHeadingText?: string,

  /**
   * Text to display in submit button during processing.
   * 
   * @default "Processing"
   */
  processingText?: string,
};

const {
  submitButton = {},
  handlerAction,
  messageHeadingTag : HeadTag = "h3",
  errorHeadingText = "Oops, let's fix these errors first:",
  successHeadingText = "Successfully submitted!",
  processingText = "Processing",
  class: className,
  ...rest
} = Astro.props;

if(!submitButton.label && !submitButton.icon && !submitButton.iconBefore) {
  submitButton.label = "Submit";
}
submitButton.class = twMerge(
  "base-form-submit text-md min-w-[50%]",
  // Hide the primary button label during processing, and show the secondary label instead.
  "aria-disabled:opacity-90 aria-disabled:cursor-progress",
  "aria-disabled:[&_.label-primary]:hidden",
  "aria-disabled:[&_.label-secondary]:inline",
  submitButton.class
);

const actionUrl = getActionPath(actions[handlerAction]);
---

{/*
  States: initial, success, error
*/}
<form novalidate data-action={actionUrl} data-state="initial"
  class={twMerge(
    "base-form group/form flex flex-col items-center max-w-[60ch]",
    "gap-[1em] p-[1em] border-t-foreground border-t-2 rounded-sm shadow-md dark:border-muted dark:border-2",
    className
  )}
  {...rest}
>
  <section tabindex="-1" class:list={[
    "hidden not-group-data-[state=initial]/form:block",
    "w-full p-[1em] rounded-sm border-3",
    "group-data-[state=error]/form:border-error-accent",
    "group-data-[state=success]/form:border-success-accent",
  ]}>
    {/* Error message display. */}
    <div class="hidden group-data-[state=error]/form:block text text-base">
      <HeadTag class="text-md font-medium mbe-[0.8em]">
        <Icon name="tabler:alert-triangle" size="1lh" class="text-error me-[0.25em]"/>
        {errorHeadingText}
      </HeadTag>
      <ul></ul>
    </div>

    {/* Success message display. */}
    <div class="hidden group-data-[state=success]/form:block text text-base">
      <HeadTag class="text-md font-medium mbe-[0.8em]">
        <Icon name="tabler:circle-check" size="1lh" class="text-success me-[0.25em]"/>
        {successHeadingText}
      </HeadTag>
      <slot name="success"/>
    </div>
  </section>

  <slot />

  <Captcha />

  <Button type="submit" aria-disabled="true" {...submitButton}>
    <Fragment slot="label-secondary">
      {processingText}
      <Spinner class="size-[1lh] ms-[1em] inline"/>
    </Fragment>
  </Button>
</form>

<script>
{ 
  document.querySelectorAll<HTMLFormElement>(".base-form").forEach((form) => {
    const msgContainer = form.querySelector<HTMLElement>('section');
    const errList = msgContainer?.querySelector<HTMLUListElement>('ul');
    const fields = form.querySelectorAll<HTMLElement>('.base-form-field');
    const submitButton = form.querySelector<HTMLButtonElement>('.base-form-submit');

    // On page load, pre-fill any single field values passed via URL query params.
    // TODO: add support for single-select FormPickField, once we write that component.
    const params = new URLSearchParams(window.location.search);
    for (const el of fields) {
      const val = el.dataset.name? params.get(el.dataset.name) : null;
      if (val == null) continue; // skip if null or undefined, keep going if empty string.

      if (el instanceof HTMLTextAreaElement) {
        el.replaceChildren(val);
      } else if (el instanceof HTMLInputElement) {
        if (el.type === "checkbox") {
          el.checked = !["","false","off","0","null"].includes(val);
        } else {
          el.value = val;
        }
      }
    }

    // Process form on submission.
    form.addEventListener('submit', async (ev) => {
      ev.preventDefault();
      if (!form.dataset.action || !submitButton ||
        submitButton.ariaDisabled === "true" //prevent clicks during processing
      ) {
        return;
      }

      const errs: HTMLLIElement[] = [];
      const addErr = (text?: string, id?: string ) => {
        if (text) {
          const li = document.createElement('li');
          if (id) {
            const a = document.createElement('a');
            a.href = '#' + id;
            a.textContent = text;
            li.appendChild(a);
          } else {
            li.textContent = text;
          }
          errs.push(li);
        }
      };

      submitButton.ariaDisabled = "true";
      submitButton.focus(); //refocus on button to announce changed button text in screen reader

      // Trim whitespace from all form values before submitting for validaiton.
      const formData = new FormData(form);
      for (const [key, value] of formData.entries()) {
        if (typeof value === 'string') {
          formData.set(key, value.trim());
        }
      }

      // Run captcha-specific preprocessing, if present.
      // If it returns an error, add it to error messages.
      const res = await window.ccc_org_base_captchaPreprocess?.(form, formData);
      addErr(res?.err, res?.id);

      // If the preprocess step didn't encounter any problems, run the form
      // handler and display the results.
      if (errs.length == 0) {
        // Send form data to handler, then wait for results.
        const response = await fetch(form.dataset.action, {
          method: 'POST',
          body: formData,
        });
        // don't call response.json() directly, will throw error if body is empty
        const text = await response.text();
        const result = text? JSON.parse(text) : {};
        
        for (const el of fields) {
          const errDest = el.dataset.err? document.getElementById(el.dataset.err) : undefined;
          const errText = el.dataset.name? (result.fields?.[el.dataset.name]?.join(", ")) : undefined;
          addErr(errText, el.id);
          el.ariaInvalid = errText? "true" : "false";
          errDest?.replaceChildren(errText);
        };

        if (!response.ok && errs.length == 0) {
          addErr(result.message?
            result.message 
            :
            "Network error, please try again later"
          );
        }
      }

      if (errs.length == 0) {
        form.reset();
        form.dataset.state = "success";
      } else {
        errList?.replaceChildren(...errs);
        form.dataset.state = "error";
      }
      msgContainer?.focus();
      //make sure to update the button AFTER the message container is focused,
      //to ensure we don't announce the change in button text.
      submitButton.ariaDisabled = "false";

      // Refresh the captcha, to ensure that any additional submissions won't
      // try to reuse the same token.
      window.ccc_org_base_captchaRefresh?.();
    }); // END submit listener
  }); // END loop over forms
}
</script>