---
import type { HTMLAttributes, ComponentProps } from "astro/types";
import {actions, getActionPath} from "astro:actions";
import { twMerge } from 'tailwind-merge'

import { Button, Icon, formUtil } from '@/components/base'

type Props = HTMLAttributes<"form"> & {
  /**
   * Properties to style the submit button.
   * 
   * Be cautious about changing the button label to something other than
   * "submit". Non-sighted users may be confused by non-standard submit
   * button labels, because they don't perceive the visual cues (color and
   * placement within the form) that help sighted users understand what the
   * button really does.
   * 
   * See: https://plousia.com/blog/accessible-wording-form-submit-buttons
   * 
   * @default {label: "submit"}
   */
  submitButton?: Omit<ComponentProps<typeof Button>, "type">;

  /**
   * Name of action to send form results to for validation.
   */
  handlerAction: string,

  /**
   * Tag to use for the heading of the error summary box.
   * 
   * @default "h3"
   */
  errorHeadingTag?: "h1" | "h2" | "h3" | "h4" | "h5" | "h6" | "div",

  /**
   * Heading text for the error summary box.
   * 
   * @default "Oops, let's fix these errors first:"
   */
  errorHeadingText?: string,
};

const {
  submitButton = {},
  handlerAction,
  errorHeadingTag : ErrHeadTag = "h3",
  errorHeadingText = "Oops, let's fix these errors first:",
  class: className,
  ...rest
} = Astro.props;

if(!submitButton.label && !submitButton.icon && !submitButton.iconBefore) {
  submitButton.label = "Submit";
}
submitButton.class = twMerge("base-form-submit text-md min-w-[50%]", submitButton.class);

const actionUrl = getActionPath(actions[handlerAction]);
---

{/*
  States: initial, processing, success, error
*/}
<form novalidate data-action={actionUrl} data-state="initial"
  class={twMerge(
    "base-form group/form flex flex-col items-center max-w-[60ch]",
    "gap-[1em] p-[1em] border-t-foreground border-t-2 rounded-sm shadow-md dark:border-muted dark:border-2",
    className
  )}
  {...rest}
>
  <section tabindex="-1" class:list={[
    "hidden group-data-[state=error]/form:block",
    "w-full p-[1em] rounded-sm border-2 border-error"
  ]}>
    <ErrHeadTag class="text-md font-medium mbe-[0.8em]">
      <Icon name="tabler:alert-triangle" size="1em" class="text-error-accent mbe-[0.12em] me-[0.25em]"/>
      {errorHeadingText}
    </ErrHeadTag>
    <ul class="text text-base"></ul>
  </section>

  <slot />

  <div class="cf-turnstile"
    data-sitekey={formUtil.turnstile.key}
    data-response-field-name={formUtil.turnstile.fieldname}
  />

  <Button type="submit" {...submitButton}/>
</form>

<script is:inline async defer
  src="https://challenges.cloudflare.com/turnstile/v0/api.js"
/>

<script>
{
  const makeMsg = (text: string, id?: string ) => {
    const li = document.createElement('li');
    if (id) {
      const a = document.createElement('a');
      a.href = '#' + id;
      a.textContent = text;
      li.appendChild(a);
    } else {
      li.textContent = text;
    }
    return li;
  };

  
  document.querySelectorAll<HTMLFormElement>(".base-form").forEach((form) => {
    const msgContainer = form.querySelector<HTMLElement>('section');
    const msgContent = msgContainer?.querySelector<HTMLUListElement>('ul');
    const fields = form.querySelectorAll<HTMLElement>('.base-form-field');
    
    // Pre-fill any values passed via URL query params.
    const params = new URLSearchParams(window.location.search);
    for (const el of fields) {
      if (el instanceof HTMLInputElement &&
          !["checkbox","hidden","radio"].includes(el.type)) {
        el.value = params.get(el.name) || el.value;
      } else if (el instanceof HTMLTextAreaElement) {
        const val = params.get(el.name);
        if (val) {
          el.replaceChildren(val);
        }
      }
    }

    // Process form on submission.
    form.addEventListener('submit', async (ev) => {
      ev.preventDefault();
      if (!form.dataset.action) {
        return;
      }

      form.dataset.state = "processing";

      // Trim whitespace from all form values before submitting for validaiton.
      const formData = new FormData(form);
      for (const [key, value] of formData.entries()) {
        if (typeof value === 'string') {
          formData.set(key, value.trim());
        }
      }

      // Send form data to handler, then wait for results.
      const response = await fetch(form.dataset.action, {
        method: 'POST',
        body: formData,
      });
      // don't call response.json() directly, will throw error if body is empty
      const text = await response.text();
      const result = text? JSON.parse(text) : {};
      
      const msgs: HTMLLIElement[] = [];
      for (const el of fields) {
        const errDest = el.dataset.err? document.getElementById(el.dataset.err) : undefined;
        const errText = el.dataset.name? (result.fields?.[el.dataset.name]?.join(", ")) : undefined;
        if (errText) {
          el.ariaInvalid = "true";
          msgs.push(makeMsg(errText, el.id));
        } else {
          el.ariaInvalid = "false";
        }
        errDest?.replaceChildren(errText);
      };

      if (!response.ok && !msgs.length) {
        msgs.push(makeMsg(result.message? result.message : "Network error, please try again later"));
      }

      if (msgs.length) {
        msgContent?.replaceChildren(...msgs);
        form.dataset.state = "error";
        msgContainer?.focus();
      } else {
        msgContent?.replaceChildren();
        form.dataset.state = "success";
      }
      // Reset the turnstile widget, to ensure that any additional
      // submissions won't try to reuse the same token.
      window.turnstile.reset();
    }); // END submit listener
  }); // END loop over forms
}
</script>