---
import { Icon } from "@/components/base";
import type { HTMLAttributes } from "astro/types";
import { tv, type VariantProps } from "tailwind-variants";

/**
 * Link Component
 * @description A component that handles links with proper accessibility
 * 
 * This is for links that are styled as text (links in prose, or links in a nav
 * bar). If you want a link that looks like a button, use the Button component instead.
 * 
 * For links that open in a new tab, the appropriate icon and screen-reader annotation
 * will be added automatically for you.
 * 
 * For nav-style links, automatically handles adding aria-current and a visible text
 * decoration if the link points to the current page.
 */

interface Props extends
  HTMLAttributes<"a">,
  Omit<VariantProps<typeof link>, "isCurrentPage"> {
  /**
   * Additional classes to apply to the link
   */
  class?: string

  /**
   * The URL to link to
   */
  href: string

  /**
   * Whether to open in a new tab or not.
   * 
   * If true, will add a standard "opens in new tab" icon,
   * as well as some screen-reader text. You can override
   * 
   * You should ALMOST NEVER use this, opening in new tabs is bad for
   * accessibility, and really not that great for usability in general.
   * 
   * Some situations where it might still make sense:
   *   - links to documents (like PDF's or Word docs) - people tend to close
   *     the tab after the finish with these, according to research.
   *   - links to help pages on a form page - so you don't lose form progress.
   *   - situations where the user might need to refer back to the original page
   *     while they're working with the linked one.
   * 
   * @link https://blog.pope.tech/2024/01/02/how-to-make-external-links-accessible/
   * 
   * @default false
   */
  openAsNew?: boolean,

  /**
   * If you wish to use a different icon for the external link indicator,
   * specify it here.
   * 
   * Icon lookup will be performed by the base/icon library.
   * 
   * @default "tabler:external-link"
   */
  externalLinkIcon?: string
}

const {
  class: className,
  href,
  openAsNew = false,
  externalLinkIcon = "tabler:external-link",
  variant,
  ...htmlAttrs
} = Astro.props;

const url = new URL(href, Astro.url);
const isExternal = url.host !== Astro.url.host;
const isCurrentPage = variant==="nav" && url.href === Astro.url.href;

let autoAttrs: Record<string,string> = {};
if (openAsNew) {
  autoAttrs.target = '_blank';
}
if (isExternal) {
  // Disable automatic prefetching for external links.
  autoAttrs["data-astro-prefetch"] = "false";
}
if (isCurrentPage) {
  autoAttrs["aria-current"] = "page";
}


export const link = tv({
  base: [
    "inline-flex gap-[0.25ch] items-center",
    "underline underline-offset-[0.25em]",
    "duration-200 ease-fast",
  ],
  variants: {
    variant: {
      text: [
        "transition-[color,text-decoration-thickness,text-underline-offset]",
        "text-link hocus:text-link-hover active:bg-current/10",
        "decoration-from-font hocus:decoration-[1px]",
        "hocus:underline-offset-[0.125em]",
      ],
      nav: [
        "transition-[background-color,text-decoration-color]",
        "active:bg-muted-dark",
        "decoration-transparent hocus:decoration-inherit",
      ],
    },
    isCurrentPage: {
      // If this is the current page, always show underline, not just when hovered.
      true:"decoration-inherit"
    }
  },
  defaultVariants: {
    variant: "text"
  },
});
---

<a href={href}
   class={link({ variant, isCurrentPage, class: className })}
   {...autoAttrs}
   {...htmlAttrs}
>
  <slot />
  {openAsNew && (
    <Icon name={externalLinkIcon} size="1em"/>
    <span class="sr-only">Opens in a new tab</span>
  )}
</a>