---
/**
 * A disclosure (hidden contents revealed by a button trigger), specialized
 * for navigation menus.
 * 
 * This is not a flyout menu that reveals itself on hover/focus - those are
 * bad for accessibility, because they require tabbing through submenus to
 * traverse the entire nav. Instead, you have to activate the trigger button with
 * enter/space to expand this disclosure, before you can tab down into it.
 * 
 * Note that there's a lot of conflicting advice online about how to best
 * implement nav menus with regards to accessibility details. This component
 * is loosely based off of the behavior of the Example Disclosure Navigation Menu
 * from the APG here:
 *   https://www.w3.org/WAI/ARIA/apg/patterns/disclosure/examples/disclosure-navigation/#javascriptandcsssourcecode
 * 
 * I intentionally did not implement the optional arrow key navigation - this
 * component only uses tab and shift-tab to move around, default browser button
 * behavior (enter/space) to activate triggers, and escape or tabbing out to
 * close menus.
 * 
 * Most advice I could find does not recommend setting the "menu" and "menuitem"
 * roles for basic nav. Generally, menu/menu-item roles and the associated
 * keyboard semantics are really intended for full desktop-style menus (e.g.,
 * the menu bar in Google Docs), not website nav.
 * 
 * aria-controls was intentionally left out - while it's used in the example,
 * this attribute isn't really supported in modern screen readers, because in
 * practice it just added noise without providing any useful additional info.
 * This is especially true when the disclosure contents immediately follow the
 * triggering button in the DOM, as in this component.
 */

import type { HTMLAttributes } from "astro/types";
import { tv, type VariantProps } from "tailwind-variants";
import { twMerge } from 'tailwind-merge'
import { Button } from '@/components/starwind/button'

type Props =
  Omit<HTMLAttributes<"ul">, "id"> &
  Pick<VariantProps<typeof Button>, "variant" | "size" | "animation"> &
{
  /**
   * Alignment of the disclosure with respect to the trigger button.
   * @default start
   */
  align?: "start" | "center" | "end";

  /**
   * Additional classes to apply to the trigger button.
   */
  buttonClass?: string | string[]
}

export const menu = tv({
  base: [
    "absolute z-50 min-w-36 mt-(--sp-3xs) p-(--sp-3xs) flex flex-col",
    "bg-popover text-popover-foreground shadow-md border rounded-md",
    "overflow-x-hidden overflow-y-auto transition-discrete duration-350",
    "peer-aria-[expanded=true]:visible peer-aria-[expanded=false]:invisible",
    "peer-aria-[expanded=true]:animate-in peer-aria-[expanded=false]:animate-out peer-aria-[expanded=false]:fill-mode-forwards",
    "fade-in motion-safe:zoom-in-95 motion-safe:slide-in-from-top-4",
    "fade-out motion-safe:zoom-out-95 motion-safe:slide-out-to-top-4",
  ],
  variants: {
    align: {
      start: "motion-safe:slide-in-from-left-1 motion-safe:slide-out-to-left-1 left-0",
      center: "motion-safe:-translate-x-1/2 left-1/2",
      end: "motion-safe:slide-in-from-right-1 motion-safe:slide-out-to-right-1 right-0",
    },
  },
  defaultVariants: {
    align: "start",
  },
})

const {
  class: className,
  align = "start",
  variant = "ghost",
  size = "lg",
  buttonClass,
  ...rest
} = Astro.props;
---

<div class="relative base-navdisclosure">

  <Button type="button"
    aria-haspopup="true"
    aria-expanded="false"
    variant={variant}
    size={size}
    class={twMerge("peer", buttonClass)}
  >
    <slot name="button"/>
  </Button>

  <ul
    class={menu({ align, class: className })}
    {...rest}
  >
    <slot />
  </ul>
</div>

<script>
{
  class NavDisclosureHandler {
    private button: HTMLButtonElement | null;
    private menu:   HTMLElement | null;

    constructor(container: HTMLElement) {
      this.button = container.querySelector(':scope > button'); 
      this.menu   = container.querySelector(':scope > ul');

      if (!this.button || !this.menu) return;

      // Handle button mouse click / touch / keyboard activation.
      this.button.addEventListener("click", (e) => {
        (this.button?.ariaExpanded === 'false')?
          this.button.ariaExpanded = 'true' : this.closeMenu();
        e.stopPropagation(); // prevents the global click listener below from triggering
      }, {passive: true});

      this.button.addEventListener('keydown', (e: KeyboardEvent) => {
        if (this.isOpen() && e.key === 'Escape') {
          this.closeMenu();
          // Prevent any default browser behavior for escape key (such as clearing focus).
          e.preventDefault();
          // If we have nested disclosures, only close the level we're currently in,
          // not all levels.
          e.stopPropagation();
        }
      });

      // Handle closing the menu via the keyboard. Only works while you
      // have keyboard focus inside the menu.
      this.menu.addEventListener('keydown', (e : KeyboardEvent) => {
        if (this.isOpen() && e.key === 'Escape') {
          this.closeMenu();
          // When closing via escape, focus back on the button that opens the menu.
          // @ts-expect-error (focusVisible is experimental, but harmless if unsupported
          this.button.focus({ focusVisible: true});
          // Prevent any default browser behavior for escape key (such as clearing focus).
          e.preventDefault();
          // If we have nested disclosures, only close the level we're currently in,
          // not all levels.
          e.stopPropagation();
        }
      });

      // Close the menu when focus has left the disclosure container (trigger & contents).
      // This could happen by tabbing out with the keyboard, or by clicking outside
      // the disclosure.
      container.addEventListener('focusout', (e: FocusEvent) => {
        if (this.isOpen() && !container.contains(e.relatedTarget as Node)) {
          this.closeMenu();
        }
      }, {passive: true});
    }

    private isOpen() { return (this.button?.ariaExpanded === 'true'); }

    private closeMenu() { if (this.button) this.button.ariaExpanded = 'false'; }
  }

  const navDisclosureInstances = new WeakMap<HTMLElement, NavDisclosureHandler>();
  const initNavDisclosures = () => {
    document.querySelectorAll(".base-navdisclosure").forEach((item) => {
      if (item instanceof HTMLElement && !navDisclosureInstances.has(item)) {
        navDisclosureInstances.set(item, new NavDisclosureHandler(item));
      }
    });
  }

  initNavDisclosures();
  document.addEventListener("astro:after-swap", initNavDisclosures);
}
</script>