---
import type { HTMLAttributes } from "astro/types";

import { twMerge } from 'tailwind-merge'

interface Props extends HTMLAttributes<"li"> {}

const {
  class: className,
  ...rest
} = Astro.props;
---

<li {...rest} class={twMerge(
  "[&_a]:justify-start [&_a]:px-sm [&_a]:py-3xs",
  className
)}>
  <slot />
</li>
