---
import { Icon } from 'astro-icon/components'

interface Props {
  /**
   * The quote content that will be displayed
   */
  children: any
  /**
   * The name of the person who said the quote
   */
  author?: string
}

const { author } = Astro.props
---

<blockquote class="border-theme-fg border-l-8 pl-4 text-xl">
  <Icon aria-hidden="true" name="lucide:quote" size="1rem" class="inline -scale-x-100 -mt-(--space-s)" />
  
  <p class="inline">
    <slot />
  </p>
  
  <Icon aria-hidden="true" name="lucide:quote" size="1rem" class="inline -mt-(--space-s)" />
  
  {author && <cite class="block mt-(--space-s) text-lg font-medium not-italic">{author}</cite>}
</blockquote>
