---
import { Icon } from 'astro-icon/components'

interface Props {
  /**
   * The quote content that will be displayed
   */
  children: any
  /**
   * The name of the person who said the quote
   */
  author?: string
}

const { author } = Astro.props
---

<blockquote class="border-theme-fg border-l-8 pl-4 text-xl">
  <div>
    <Icon aria-hidden="true" name="lucide:quote" size="1rem" />
    <slot />
    <Icon aria-hidden="true" name="lucide:quote" size="1rem" />
  </div>
  {author && <cite class="block mt-(--space-s) text-lg font-medium">{author}</cite>}
</blockquote>

<style lang="scss" is:global>
  blockquote {
    p {
      display: inline;
    }

    svg {
      display: inline;
      margin-block-start: calc(var(--space-s) * -1);

      &:first-child {
        scale: -1 1;
      }
    }
  }
</style>
