---
import Link from '@/components/Link.astro'

/**
 * Footer Component
 *
 * @description A component that displays the footer of the website
 */
const currentYear = new Date().getFullYear()
---

<footer id="footer" class="py-(--sp-lg) border-t border-theme-subtle">
  <section class="max-w-(--content-max)">
    <h2 class="sr-only">Footer</h2>
    <div class="flex flex-col gap-(--sp-sm) md:flex-row md:justify-between">
      <p>
        &copy; {currentYear} - Christians Concerned for the Community
      </p>
      <p>
        Made with ❤️ by <Link href="https://github.com/stephen-sorley">Stephen Sorley</Link>.
      </p>
    </div>
  </section>
</footer>