---
import { Button, DarkModeToggle, type NavIcon } from '@/components/base'

import socials from '@/assets/socials.json'

/**
 * Footer Component
 *
 * @description A component that displays the footer of the website
 */
const currentYear = new Date().getFullYear();
const navIcons = socials as NavIcon[];
---

<footer id="footer" class="flex-col items-center text-md py-md border-t border-muted not-dark:bg-gray-100">
  <section class:list={[
    "flex max-w-(--content-max) w-full items-center justify-center sm:flex-wrap-reverse sm:justify-around",
    "px-md gap-x-[3ch] gap-y-[0.8em]"
  ]}>
    <p class="sm:text-center">
      &copy; {currentYear} ❤️ Christians Concerned for the Community
    </p>
    <div class="hidden sm:flex items-center gap-sm text-sm">
      {navIcons.map((item) => (
        <Button href={item.href} alt={item.alt} icon={item.icon}
                animation="rotate" variant="ghost"/>
      ))}
      <DarkModeToggle iconOff="tabler:sun" iconOn="tabler:moon"/>
    </div>
  </section>
  <slot />
</footer>