---
import { Link } from '@/components/base'

/**
 * Footer Component
 *
 * @description A component that displays the footer of the website
 */
const currentYear = new Date().getFullYear()
---

<footer id="footer" class="py-md border-t border-muted">
  <section class="mx-auto max-w-(--content-max) px-md">
    <h2 class="sr-only">Footer</h2>
    <div class="flex flex-wrap gap-x-3xl gap-y-xs justify-between text-md">
      <p>
        &copy; {currentYear} - Christians Concerned for the Community
      </p>
      <p>
        Made with ❤️ by <Link href="https://github.com/stephen-sorley">Stephen Sorley</Link>.
      </p>
    </div>
  </section>
</footer>