---
import { Nav, Icon } from "@/components/base"

import nav from '@/assets/nav.json'
import socials from '@/assets/socials.json'


---
<header class:list={[
  "text-md py-md bg-background/80 backdrop-blur-lg",
  /* Make the header sticky on mobile: */
  "max-sm:sticky max-sm:shadow-md max-sm:top-0 max-sm:z-50"
]}>
  
  {/* Skip Link (hidden, but becomes visible when focused by pressing "tab" key) */}
  <a href="#main-content" class:list={[
      "sr-only focus-visible:not-sr-only",
      "focus-visible:bg-wb focus-visible:text-bw",
      "focus-visible:absolute focus-visible:top-sm focus-visible:left-sm",
      "focus-visible:z-50 focus-visible:p-sm"]} >
    Skip to main content
  </a>

  {/* Navigation bar on wide screens, disappearing side nav panel on narrow screens. */}
  <Nav links={nav} icons={socials} maxVisibleLinks={5}>
    {/* Logo / Home Link */}
      <a href="/" class:list={["p-1 hocus:bg-muted active:bg-muted-dark",
        "duration-200 transition-[background-color]"
      ]}>
      <Icon name="ccc-logo-wide" width="100%" height="100%"
        class="block aspect-488/120 text-foreground"
      />
      <span class="sr-only">Home - CCC Logo</span>
    </a>
  </Nav>
</header>