---
import { Icon } from 'astro-icon/components'
import { Button, Nav } from "@/components/base"

import nav from '@/assets/nav.json'
import socials from '@/assets/socials.json'


---
<header class:list={[
  "text-md py-md bg-background/80 backdrop-blur-lg",
  /* Make the header sticky on mobile: */
  "max-sm:sticky max-sm:shadow-md max-sm:top-0 max-sm:z-50"
]}>
  
  {/* Skip Link (hidden, but becomes visible when focused by pressing "tab" key) */}
  <a href="#main-content" class:list={[
      "sr-only focus-visible:not-sr-only",
      "focus-visible:bg-wb focus-visible:text-bw",
      "focus-visible:absolute focus-visible:top-sm focus-visible:left-sm",
      "focus-visible:z-50 focus-visible:p-sm"]} >
    Skip to main content
  </a>

  {/* Navigation bar on wide screens, disappearing side nav panel on narrow screens. */}
  <Nav links={nav} icons={socials} maxVisibleLinks={5}>
    {/* Logo / Home Link */}
    <Button href="/" variant="ghost" icon="ccc-logo-wide"
      class="shadow-none h-[4em]"
      iconClass="block aspect-488/120 h-full text-foreground"
      alt="Home - CCC Logo"
      animation="none"
    />
  </Nav>
</header>