---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets'
import { Button } from '@/components/base'

/**
 * Hero component
 * 
 */
interface Props {
  /**
   * Additional classes to apply to the hero element.
   */
  class?: string

  /**
   * The featured image of the hero element.
   */
  featuredImage: ImageMetadata
}
const {
  class: className,
  featuredImage
} = Astro.props;
---

<section class:list={["my-2xl-3xl grid grid-cols-1 items-center gap-xl-2xl lg:grid-cols-2", className]}>
  
  <div class="flex flex-col items-start xs:items-center gap-lg lg:items-start">
    
    <h1 class="text-left text-wrap-balance xs:text-center text-5xl lg:text-left lg:text-6xl">
      <span class="bg-linear-315 from-theme-grad1 from-25% to-theme-grad2 bg-clip-text text-transparent">
        Neighbors
      </span>
      Helping Neighbors
    </h1>

    <div class="flex flex-col text-md gap-xs sm:flex-row">
      <Button href="/services/" variant="primary" animation="raise-boop"
              iconBefore="tabler:heart-handshake" label="Our Services"
      />
      <Button href="/ns" variant="secondary" animation="raise-boop"
        iconBefore="tabler:mail-plus" label="Newsletter Signup"
      />
    </div>

  </div>

  <Image src={featuredImage}
    priority={true}
    id="hero-image"
    width={1200}
    height={800}
    alt="A collage showing various projects: ramp builds, furniture deliveries, and yard work."
    class="rounded-xl"
  />
</section>