---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets'
import { Button } from '@/components/starwind/button'

import Handshake from '@icons/heart-handshake.svg'
import MailPlus from '@icons/mail-plus.svg'

/**
 * Hero component
 * 
 */
interface Props {
  /**
   * Additional classes to apply to the hero element.
   */
  class?: string

  /**
   * The featured image of the hero element.
   */
  featuredImage: ImageMetadata
}
const {
  class: className,
  featuredImage
} = Astro.props;
---

<section class:list={["my-(--sp-2xl-3xl) grid grid-cols-1 items-center gap-(--sp-xl-2xl) lg:grid-cols-2", className]}>
  
  <div class="flex flex-col items-start xs:items-center gap-(--sp-lg) lg:items-start">
    
    <h1 class="text-left text-wrap-balance xs:text-center text-6xl lg:text-left lg:text-7xl">
      <span class="bg-linear-315 from-theme-grad1 from-25% to-theme-grad2 bg-clip-text text-transparent">
        Neighbors
      </span>
      Helping Neighbors
    </h1>

    <div class="flex flex-col gap-(--sp-xs) sm:flex-row">
      <Button
        href="/services/"
        variant="primary"
        animation="raise-boop"
      >
        <Handshake aria-hidden="true" />
        Our Services
      </Button>
      <Button
        href="/ns"
        variant="secondary"
        animation="raise-boop"
      >
        <MailPlus aria-hidden="true"/>
        Newsletter Signup
      </Button>
    </div>

  </div>

  <Image src={featuredImage}
    priority={true}
    width={1200}
    height={800}
    alt="A collage showing various projects: ramp builds, furniture deliveries, and yard work."
    class="rounded-xl"
  />
</section>