---
import type { HTMLAttributes } from "astro/types";
import { tv, type VariantProps } from "tailwind-variants";

/**
 * Link Component
 * @description A versatile link component that handles links with proper accessibility
 * 
 * Will add icons and screen-reader annotations for links that open in a new tab.
 */

interface Props extends HTMLAttributes<"a">, VariantProps<typeof link> {
  /**
   * Additional classes to apply to the link
   */
  class?: string

  /**
   * The URL to link to
   */
  href: string

  /**
   * Screen-reader text for the link.
   * 
   * Only use this if the link text is too generic ("read more", etc), or if
   * the link is icon-only.
   * 
   * Don't add descriptive text here to indicate that the link opens in a new tab,
   * that will be automatically appended for you when you set openNew = true.
   */
  "aria-label"?: string

  /**
   * Whether to open in a new tab or not.
   * 
   * If true, will add a standard "opens in new tab" icon,
   * as well as some screen-reader text.
   * 
   * You should ALMOST NEVER use this, opening in new tabs is bad for
   * accessibility, and really not that great for usability in general.
   * 
   * Some situations where it might still make sense:
   *   - links to documents (like PDF's or Word docs) - people tend to close
   *     the tab after the finish with these, according to research.
   *   - links to help pages on a form page - so you don't lose form progress.
   *   - situations where the user might need to refer back to the original page
   *     while they're working with the linked one.
   * 
   * @link https://blog.pope.tech/2024/01/02/how-to-make-external-links-accessible/
   * 
   * @default false
   */
  openAsNew?: boolean

  /**
   * Whether to show the "opens in new tab" icon or not.
   * Only affects anything if openNew = true.
   * 
   * You should only set this to false for icon-only links, it's generally
   * considered bad for accessibility, otherwise.
   * @default true
   */
  showIcon?: boolean
}

const {
  class: className,
  href,
  "aria-label": ariaLabel,
  openAsNew = false,
  showIcon = true,
  variant,
  ...htmlAttrs
} = Astro.props;


const thisPage = Astro.url.pathname;
const removeSlash = (path: string) => {
  // The regex /\\/+$/ matches one or more (\\/+) forward slashes at the end ($)
  return path.replace("/\\/+$/", "");
};
const pathEq = (path1: string, path2: string) => {
  return removeSlash(path1) === removeSlash(path2);
}

const isCurrentPage = variant==="nav" && pathEq(thisPage, href);

let autoAttrs: Record<string,string> = {};
if (openAsNew) {
  autoAttrs.target = '_blank';
}
if (ariaLabel) {
  autoAttrs["aria-label"] = ariaLabel;
}
if (isCurrentPage) {
  autoAttrs["aria-current"] = "page";
}


export const link = tv({
  base: [
    "gap-(--sp-2xs) items-center justify-center-safe",
    "duration-200 ease-fast"
  ],
  variants: {
    variant: {
      text: ["inline-flex [&_svg]:inline underline whitespace-nowrap",
        "transition:[color,text-decoration-thickness,text-decoration-offset]",
        "text-theme-link hover:text-theme-link-hover",
        "decoration-from-font hover:decoration-[1px]",
        "underline-offset-[0.25rem] hover:underline-offset-[0.125rem]"
      ],
      nav: ["flex underline-offset-3 underline transition:[text-decoration-color]",
        "active:bg-muted",
        "decoration-transparent hover:decoration-inherit select-none",
      ],
      "icon-xs": [
        "inline-flex gap-1 size-8 shadow-xs rounded-md transition-colors outline-none select-none",
        "border border-input hover:border-muted-foreground bg-transparent",
        "focus-visible:border-outline focus-visible:ring-outline/50 focus-visible:ring-3",
        "motion-safe:hover:[&_svg]:animate-rotate motion-safe:focus-visible:[&_svg]:animate-rotate"
      ],
      icon: [
        "inline-flex gap-2 size-11 shadow-xs rounded-md transition-colors outline-none select-none",
        "border border-input hover:border-muted-foreground bg-transparent",
        "focus-visible:border-outline focus-visible:ring-outline/50 focus-visible:ring-3",
        "motion-safe:hover:[&_svg]:animate-rotate motion-safe:focus-visible:[&_svg]:animate-rotate"
      ],
    },
    isCurrentPage: {
      // If this is the current page, always show underline, not just when hovered.
      true:"decoration-inherit"
    }
  },
  defaultVariants: {
    variant: "text"
  },
});
---

<a href={href}
   class={link({ variant, isCurrentPage, class: className })}
   {...autoAttrs}
   {...htmlAttrs}
>
  <slot />
  {openAsNew && showIcon && (
    <slot name="icon">
      <svg
        aria-hidden="true"
        width="1em"
        height="1em"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path d="M15 3h6v6m-11 5L21 3m-3 10v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6" />
      </svg>
    </slot>
    <span class="sr-only">Opens in a new tab</span>
  )}
</a>