---
import LogoLight from '@/assets/logo-wide-light.svg'
import LogoDark from '@/assets/logo-wide-dark.svg'

---

<a href="/" aria-label="CCC logo - return to home page">
  <LogoLight
    width={488}
    height={120}
    class="block dark:hidden w-54 min-[33.75rem]:w-76 h-auto"
  />
  <LogoDark
    width={488}
    height={120}
    class="hidden dark:block w-54 min-[33.75rem]:w-76 h-auto"
  />
</a>
