---
import { Icon } from 'astro-icon/components'

---

<a href="/" aria-label="Go to home page" class="hover:bg-muted p-1">
  <Icon name="logo-wide-light" width="100%" height="100%"
    class="block dark:hidden max-w-76 aspect-488/120"
  />
  <Icon name="logo-wide-dark" width="100%" height="100%"
    class="hidden dark:block max-w-76 aspect-488/120"
  />
</a>
