---
// put the following script in the <head> of each page of your site
// this ensures it is run early to eliminate any flashes of incorrect color theme

/* 
<script is:inline>
  const initTheme = () => {
    const colorTheme = localStorage.getItem("colorTheme");
    document.documentElement.classList.toggle("dark",
      colorTheme?
        colorTheme==="dark"
        :
        window.matchMedia("(prefers-color-scheme: dark)").matches
    );
  }
  initTheme();
  document.addEventListener("astro:after-swap", initTheme);
</script>
*/

import Moon from "@tabler/icons/outline/moon.svg";
import Sun from "@tabler/icons/outline/sun.svg";
import { tv, type VariantProps } from "tailwind-variants";

import { Toggle, ToggleVariants } from "@/components/starwind/toggle";

export const themeToggle = tv({
  base: [
    "starwind-theme-toggle",
    "group hover:border-muted-foreground hover:bg-transparent aria-pressed:bg-transparent",
  ],
});

type Props = VariantProps<typeof ToggleVariants.toggle> & {
  /**
   * The ARIA label for the toggle
   */
  ariaLabel?: string;
  /**
   * Additional classes for the toggle
   */
  class?: string;
};

const {
  class: className = "",
  variant = "outline",
  size = "icon",
  ariaLabel = "Toggle theme",
  ...rest
} = Astro.props as Props;
---

<Toggle
  class={themeToggle({ class: className })}
  variant={variant}
  size={size}
  {...rest}
>
  <slot>
    <div data-theme-icon-wrapper>
      <slot name="light-icon">
        <Sun class="block dark:hidden" aria-hidden="true" />
      </slot>
      <slot name="dark-icon">
        <Moon class="hidden dark:block" aria-hidden="true" />
      </slot>
      <span class="sr-only">{ariaLabel}</span>
    </div>
  </slot>
</Toggle>

<script>
  import type { ToggleChangeEvent } from "@/components/starwind/toggle";

  // Called when the underlying toggle gets clicked.
  const handleToggle = (e: ToggleChangeEvent) => {
    const { pressed, toggleId } = e.detail;

    // Enable/disable the "dark" class on the whole document, to match button state.
    document.documentElement.classList.toggle("dark", pressed);
    
    // Persist this state in local storage for future navigation to other pages.
    localStorage.setItem("colorTheme", pressed? "dark" : "light");

    // Update the "pressed" attribute of all Theme Toggles on the page to match
    // the new state.
    document.querySelectorAll(".starwind-theme-toggle").forEach((toggle) => {
      if (toggle.id != toggleId) {
        toggle.setAttribute("aria-pressed", pressed.toString());
      }
    });
    
    e.stopPropagation();
  };

  const initThemeToggles = () => {
    // Check to see if darkmode is enabled or not (this should've already been
    // handled by inline script added to <head>).
    const isDark = document.documentElement.classList.contains("dark");
    
    // Loop over every theme toggle on the page.
    document.querySelectorAll(".starwind-theme-toggle").forEach((toggle) => {
      // Initialize button pressed state to match whether dark mode is enabled or not.
      toggle.setAttribute("aria-pressed", isDark.toString());

      // Add an event listener to each toggle, to handle when the underlying Toggle
      // object processes a button press.
      toggle.addEventListener("starwind-toggle:change", (e: Event) => {
        handleToggle(e as ToggleChangeEvent);
      });
    });
  }

  initThemeToggles();
  document.addEventListener("astro:after-swap", () => initThemeToggles());
</script>
