---
// put the following script in the <head> of each page of your site
// this ensures it is run early to eliminate any flashes of incorrect color theme

/* 
<script is:inline>
  function initTheme() {
    const colorTheme = localStorage.getItem("colorTheme");
    if (!colorTheme) {
      // if no color theme yet, use the users preferences
      if (window.matchMedia && window.matchMedia("(prefers-color-scheme: dark)").matches) {
        document.documentElement.classList.add("dark");
        localStorage.setItem("colorTheme", "dark");
      } else {
        document.documentElement.classList.remove("dark");
        localStorage.setItem("colorTheme", "light");
      }
    } else {
      // assign the theme based on the value in local storage
      if (colorTheme === "dark") {
        document.documentElement.classList.add("dark");
      } else if (colorTheme === "light") {
        document.documentElement.classList.remove("dark");
      } else if (colorTheme === "system") {
        // use system preference
        const prefersDark = window.matchMedia("(prefers-color-scheme: dark)").matches;
        document.documentElement.classList.toggle("dark", prefersDark);
      }
    }
  }

  // runs on initial page load
  initTheme();

  // runs on view transitions navigation
  document.addEventListener("astro:after-swap", initTheme);
</script>
*/

import Moon from "@tabler/icons/outline/moon.svg";
import Sun from "@tabler/icons/outline/sun.svg";
import { tv, type VariantProps } from "tailwind-variants";

import { Toggle, ToggleVariants } from "@/components/starwind/toggle";

export const themeToggle = tv({
  base: [
    "starwind-theme-toggle",
    "group hover:border-muted-foreground hover:bg-transparent aria-pressed:bg-transparent",
  ],
});

type Props = VariantProps<typeof ToggleVariants.toggle> & {
  /**
   * The ARIA label for the toggle
   */
  ariaLabel?: string;
  /**
   * Additional classes for the toggle
   */
  class?: string;
};

const {
  class: className = "",
  variant = "outline",
  size = "icon",
  ariaLabel = "Toggle theme",
  ...rest
} = Astro.props as Props;
---

<Toggle
  class={themeToggle({ class: className })}
  variant={variant}
  size={size}
  {...rest}
>
  <slot>
    <div data-theme-icon-wrapper>
      <slot name="light-icon">
        <Sun class="block dark:hidden" aria-hidden="true" />
      </slot>
      <slot name="dark-icon">
        <Moon class="hidden dark:block" aria-hidden="true" />
      </slot>
      <span class="sr-only">{ariaLabel}</span>
    </div>
  </slot>
</Toggle>

<script>
  import type { ToggleChangeEvent } from "@/components/starwind/toggle";

  const initThemeToggles = () => {
    const isDark = document.documentElement.classList.contains("dark");
  
    document.querySelectorAll(".starwind-theme-toggle").forEach((toggle) => {
      // Initialize button pressed state to match whether dark mode is enabled or not.
      toggle.setAttribute("aria-pressed", isDark.toString());

      // Add an event listener to each toggle, to handle when the underlying Toggle
      // object processes a button press.
      toggle.addEventListener("starwind-toggle:change", (event: Event) => {
        const { pressed, toggleId } = (event as ToggleChangeEvent).detail;

        // Enable/disable the "dark" class on the whole document, to match button state.
        document.documentElement.classList.toggle("dark", pressed);
        
        // Persist this state in local storage for future navigation to other pages.
        localStorage.setItem("colorTheme", pressed? "dark" : "light");

        // Update the "pressed" attribute of all Theme Toggles on the page to match
        // the new state.
        document.querySelectorAll(".starwind-theme-toggle").forEach((toggle) => {
          if (toggle.id != toggleId) {
            toggle.setAttribute("aria-pressed", isDark.toString());
          }
        });
        event.stopPropagation();
      });
    });
  }

  initThemeToggles();
  document.addEventListener("astro:after-swap", () => initThemeToggles());
</script>
