/* CSS styles for Spinner.astro */

.base-spinner {
  transform-origin: center;
  animation: base-spinner-outer 2s linear infinite
}

.base-spinner circle {
  stroke-linecap: round;
  animation: base-spinner-inner 1.5s ease-in-out infinite
}

@keyframes base-spinner-outer {
  100% {
    transform: rotate(360deg)
  }
}

@keyframes base-spinner-inner {
  0% {
    stroke-dasharray: 0 150;
    stroke-dashoffset: 0
  }
  
  47.5% {
    stroke-dasharray: 42 150;
    stroke-dashoffset: -16
  }
  
  95%,100% {
    stroke-dasharray: 42 150;
    stroke-dashoffset: -59
  }
}