/* Custom animations and page transition settings.
 *
 * Cross-doc transitions (transition on navigation) is enabled
 * by default, with a duration of 150ms. This can be configured
 * by setting the following vars on root:
 *
 *  --vt-nav: none  //to disable cross-doc view transitions
 *  --vt-duration: [time]  //view transition duration
 */

/* Page transition */
@view-transition {
  navigation: var(--vt-nav, auto);
  types: base-cross;
}
@layer base {
  /* By default, elements will participate in both cross-document and in-document
     transitions.

     If you want an element to only partipate in same-page transitions (like the
     dark-mode toggle), give it a view-transition-class of "base-same-only".

     If you want an element to only participate in cross-document transitions
     (navigation), give it a view-transition-class of "base-cross-only".

     If you want an element to skip all transitions, give it a view-transition-class
     of "base-static".
  */
  html::view-transition-group(root),
  html::view-transition-group(.base-cross-only),
  html::view-transition-group(.base-same-only) {
    animation-duration: var(--vt-duration, 150ms);
  }

  html::view-transition-group(.base-static),
  html:active-view-transition-type(base-cross)::view-transition-group(.base-same-only),
  html:not(:active-view-transition-type(base-cross))::view-transition-group(.base-cross-only)
  {
    animation-duration: 0ms;
  }
}

/* Custom animations */
@theme inline {
  --ease-fast: cubic-bezier(0.165, 0.84, 0.44, 1);

  --animate-base-raise: base-raise 200ms var(--ease-fast) forwards;

  --animate-base-boop: base-boop 500ms var(--ease-fast) forwards;

  --animate-base-rotate: base-rotate 500ms var(--ease-fast) forwards;

  @keyframes base-raise {
    0% { translate: 0 0; }
    100% { translate: 0 -0.1875rem}
  }

  @keyframes base-boop {
    0% {
      transform: scale(1) rotate(0deg);
    }
    25% {
      transform: scale(1.1) rotate(calc(-10deg));
    }
    50% {
      transform: scale(1.05) rotate(5deg);
    }
    75% {
      transform: scale(1.02) rotate(-2.5deg);
    }
    100% {
      transform: scale(1) rotate(0deg);
    }
  }

  @keyframes base-rotate {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(10deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
}
