body {
  font-weight: 400;
  font-size: 1.15rem;
  line-height: 1.5;
  font-family: var(--font-body);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: var(--color-theme-bg);
  color: var(--color-theme-fg);
}

a {
  transition: color var(--animation-speed-fast) var(--cubic-bezier);
  color: var(--color-theme-link);

  &:where(:hover, :focus-visible) {
    color: var(--color-theme-link-hover);
  }
}

main a,
footer a {
  color: var(--color-theme-link);
  
  transition: text-decoration, text-underline-offset, text-decoration-color, text-decoration-thickness;
  transition-duration: var(--animation-speed-fast);
  transition-timing-function: var(--cubic-bezier);
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: var(--color-theme-link);
  text-decoration-thickness: 0.125rem;
  text-decoration-skip-ink: none;
  text-underline-offset: 0.25rem;

  &:where(:hover, :focus-visible) {
    color: var(--color-theme-link-hover);
    text-decoration-color: var(--color-theme-link-hover);
    text-decoration-thickness: 1px;
    text-underline-offset: 0.125rem;
  }

  &.external-link {
    display: inline-flex;
    align-items: center;
    gap: var(--space-3xs);

    // small visual correction
    svg {
      margin-block-start: 0.1875rem;
    }
  }
}


