body {
  font-weight: 400;
  font-size: 1.15rem;
  line-height: 1.5;
  font-family: var(--font-body);
}

main a,
footer a {
  color: var(--color-theme-link);
  
  transition: text-decoration, text-underline-offset, text-decoration-color, text-decoration-thickness;
  transition-duration: var(--animation-speed-fast);
  transition-timing-function: var(--cubic-bezier);
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: var(--color-theme-link);
  text-decoration-thickness: 0.125rem;
  text-decoration-skip-ink: none;
  text-underline-offset: 0.25rem;

  &:where(:hover, :focus-visible) {
    color: var(--color-theme-link-hover);
    text-decoration-color: var(--color-theme-link-hover);
    text-decoration-thickness: 1px;
    text-underline-offset: 0.125rem;
  }
}


