---
import '../styles/tailwind.css'
import '../assets/scss/index.scss'
import SiteMeta from '@components/SiteMeta.astro'
import Header from '@components/Header.astro'
import Footer from '@components/Footer.astro'

const {
  title = 'Christians Concerned for the Community',
  description = 'CCC is a Christian charity based in Gainesville, FL that provides used furniture and builds wheelchair ramps for our neighbors in Alachua County.',
  author = 'Christians Concerned for the Community',
  alwaysHide = false,
} = Astro.props
---

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- for staging builds, or pages that pass alwaysHide=true, tell search engine bots not to index this page (even if crawled) -->
    {(Astro.site?.hostname.startsWith("staging") || alwaysHide) &&
      <meta name="robots" content="noindex, nofollow">
    }

    <!-- favicon stuff -->
    <!-- https://dev.to/masakudamatsu/favicon-nightmare-how-to-maintain-sanity-3al7 -->
    <link rel="icon" href="/favicon.ico" sizes="48x48" >
    <link rel="icon" href="/favicon.svg" sizes="any" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png"/>
    <link rel="manifest" href="/site.webmanifest" crossorigin="use-credentials"/>
    
    <!-- sitemap hint -->
    <link rel="sitemap" href="/sitemap-index.xml" />

    <!-- prevent view transition from happening until whole page is loaded (waits for footer) -->
    <!--   see: https://vtbag.dev/basics/pseudos/#delaying-cross-document-transitions -->
    <link rel="expect" href="#footer" blocking="render" />

    <SiteMeta
      title={title}
      description={description}
      url={Astro.site?.toString() || "cccgainesville.org"}
      image='social-preview.png'
      author={author}
    />
  </head>
  <body class="pt-25 min-[541px]:pt-34 sm:pt-0">
    <Header />
    <main id="main-content">
      <slot />
    </main>
    <Footer />
    <style lang="scss" is:global>
      @use '../assets/scss/base/mixins' as *;

      // sticky footer on low content pages
      html,
      body {
        height: 100%;
      }

      body {
        display: flex;
        flex-direction: column;
        overflow-x: clip;

        main {
          flex: 1 0 auto;
        }

        footer {
          flex-shrink: 0;
        }
      }

      pre {
        border: 2px solid var(--link-color);
        border-radius: 0.35rem;
        padding: 1rem;
      }

      // enable view transitions for every page
      @media (prefers-reduced-motion: no-preference) {
        @view-transition {
          navigation: auto;
        }

        ::view-transition-group(root) {
          animation-duration: var(--animation-speed-fast);
          animation-timing-function: var(--cubic-bezier);
        }
      }
    </style>
  </body>
</html>
