---
import {Form, FormField} from '@/components/base';
import { defineAction } from 'astro:actions';
import { z } from 'astro/zod';

export const handleForm = defineAction({
  accept: 'form',
  input: z.object({
    name: z.string().trim()
      .min(1,"Enter your full name.")
      .max(255, "Enter a shortened name (can't be longer than 255 characters)."),

    email: z.string().trim().pipe(z
      .email("Enter a valid email address (example: thatsme@gmail.com)")
      .max(80, "Enter a shorter email (can't be longer than 80 characters).")),

    phone: z.string().trim()
      .regex(/^[\(]*[0-9]{3}[ .\-\)]*[0-9]{3}[ .\-]*[0-9]{4}$/,
        "Enter a valid US phone number (example: 555-555-5555)")
      .max(40, "Phone number is too long, max is 40 characters."),

    message: z.string().trim()
      .min(1, "Type in your message to us.")
      .max(1500, "Message is too long, max is 1500 characters.")
  }),
  handler: async ({ email, phone, name, message}) => {
    // Remove all chars from phone number that aren't digits, then redo the formatting.
    const digits = phone.replace(/\D/g, "");
    const cleanPhone = `${digits.slice(0,3)}-${digits.slice(3,6)}-${digits.slice(6,10)}`;

    /* TODO: implement this method */
    console.log(`Email: ${email}`);
    console.log(`Phone: ${cleanPhone}`);
    console.log(`Name: ${name}`);
    console.log(`Message:\n----\n${message}\n----`);
  },
});

---

<Form turnstileKey="" handlerAction="handleContactForm">
  <FormField type="full-name" name="name"    label="Name" />
  <FormField type="email"     name="email"   label="Email" />
  <FormField type="tel"       name="phone"   label="Phone" />
  <FormField type="textarea"  name="message" label="Message" />
</Form>
