---
import {Form, FormField} from '@/components/base';
import { defineAction } from 'astro:actions';
import { z } from 'astro/zod';

export const handleForm = defineAction({
  accept: 'form',
  input: z.object({
    name: z
      .string("Enter your full name.")
      .max(255, "Enter a shorter name (255 letters max)."),

    email: z
      .email("Enter a valid email (jsmith@gmail.com)")
      .max(80, "Enter a shorter email (80 letters max)."),

    phone: z
      .string("Enter a valid phone number (555-555-5555)")
      .regex(/^[\(]*[0-9]{3}[ .\-\)]*[0-9]{3}[ .\-]*[0-9]{4}$/,
        "Enter a valid phone number (555-555-5555)"),

    message: z
      .string("Type in your message to us.")
      .max(1500, "Message is too long, max is 1500 characters.")
  }),
  handler: async ({ email, phone, name, message}) => {
    // Remove all chars from phone number that aren't digits, then redo the formatting.
    const digits = phone.replace(/\D/g, "");
    const cleanPhone = `${digits.slice(0,3)}-${digits.slice(3,6)}-${digits.slice(6,10)}`;

    /* TODO: implement this method */
    console.log(`Email: ${email}`);
    console.log(`Phone: ${cleanPhone}`);
    console.log(`Name: ${name}`);
    console.log(`Message:\n----\n${message}\n----`);
  },
});

---

<Form turnstileKey="" handlerAction="handleContactForm" class="text-lg">
  <FormField type="full-name" name="name"    required label="Name" />
  <FormField type="email"     name="email"   required label="Email" />
  <FormField type="tel"       name="phone"   required label="Phone" />
  <FormField type="textarea"  name="message" required label="Message" />
</Form>
